In [1]:
import pandas as pd

### Categorical variables

In [2]:
# Let's use pandas to create Categorical Series. One way is by 
# specifying dtype="category" when constructing a Series:

s = pd.Series(["a","b","c","a"], dtype="category")
s

0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): [a, b, c]

In [3]:
# Another way is to convert an existing Series or column to a 
# category dtype:

df = pd.DataFrame({"A":["a","b","c","a"]})
df["B"] = df["A"].astype('category')
df

   A  B
0  a  a
1  b  b
2  c  c
3  a  a

In [4]:
# You can also pass a pandas.Categorical object to a Series 

raw_cat = pd.Categorical(["a","b","c","a"], categories=["b","c","d"],
                          ordered=False)

In [5]:
s = pd.Series(raw_cat)
s

0    NaN
1      b
2      c
3    NaN
dtype: category
Categories (3, object): [b, c, d]

### Dummy variables

In [6]:
# Let's use pd.get_dummies to convert categorical variables into dummy 
# variables. First let's create a small DataFrame with categorical variables. 

df = pd.DataFrame({'key': list('bbacab'), 'data1': range(6)})

In [7]:
df

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b

In [8]:
# Now, let's convert the categorical variables into dummy variables. 

pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [9]:
pd.concat([df.drop('key',axis=1),pd.get_dummies(df['key'])], axis = 1)

   data1  a  b  c
0      0  0  1  0
1      1  0  1  0
2      2  1  0  0
3      3  0  0  1
4      4  1  0  0
5      5  0  1  0

In [10]:
import os
os.getcwd()


crunch = pd.read_csv('/Users/HudsonCavanagh/Documents/crunchbase_monthly_export.csv')
cb = pd.DataFrame(crunch)
cb.head(50)

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,Unnamed: 18
0,/organization/canal-do-credito,Canal do Credito,http://www.canaldocredito.com.br,|Credit|Technology|Services|Finance|,Credit,"750,000",NaN,BRA,NaN,Rio de Janeiro,Belo Horizonte,1,NaN,NaN,NaN,NaN,1/1/10,1/1/10,NaN
1,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,Entertainment,"1,750,000",acquired,USA,NY,New York City,New York,1,6/1/12,2012-06,2012-Q2,2012,6/30/12,6/30/12,NaN
2,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"4,000,000",operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,NaN,6/4/10,9/23/10,NaN
3,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Education,"40,000",operating,EST,NaN,Tallinn,Tallinn,1,10/26/12,2012-10,2012-Q4,2012,8/9/12,8/9/12,NaN
4,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Apps,"1,500,000",operating,GBR,NaN,London,London,1,4/1/11,2011-04,2011-Q2,2011,4/1/11,4/1/11,NaN
5,/organization/n-plusn,#NAME?,http://plusn.com,|Software|,Software,"600,000",operating,USA,NY,New York City,New York,1,1/1/12,2012-01,2012-Q1,2012,8/29/12,8/29/12,NaN
6,/organization/club-domains,.Club Domains,http://nic.club/,|Software|,Software,"7,000,000",NaN,USA,FL,Ft. Lauderdale,Oakland Park,1,10/10/11,2011-10,2011-Q4,2011,5/31/13,5/31/13,NaN
7,/organization/fox-networks,.Fox Networks,http://www.dotfox.com,|Advertising|,Advertising,"4,912,393",closed,ARG,NaN,Buenos Aires,Buenos Aires,1,NaN,NaN,NaN,NaN,1/16/07,1/16/07,NaN
8,/organization/0-6-com,0-6.com,http://www.0-6.com,|Curated Web|,Curated Web,"2,000,000",operating,NaN,NaN,NaN,NaN,1,1/1/07,2007-01,2007-Q1,2007,3/19/08,3/19/08,NaN
9,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,|Software|,Software,-,operating,USA,IL,"Springfield, Illinois",Champaign,1,1/1/10,2010-01,2010-Q1,2010,7/24/14,7/24/14,NaN
10,/organization/0xdata,0xdata,http://www.0xdata.com,|Analytics|,Analytics,"1,700,000",operating,USA,CA,SF Bay Area,Mountain View,1,1/1/11,2011-01,2011-Q1,2011,1/3/13,1/3/13,NaN
11,/organization/1-2-3-listo,"1,2,3 Listo",http://www.123listo.com,|E-Commerce|,E-Commerce,"40,000",operating,CHL,NaN,Santiago,Las Condes,1,1/1/12,2012-01,2012-Q1,2012,2/18/13,2/18/13,NaN
12,/organization/1-4-all,1-4 All,NaN,|Entertainment|Games|Software|,Entertainment,-,operating,USA,NC,North Carolina,Connellys Springs,1,NaN,NaN,NaN,NaN,4/21/13,4/21/13,NaN
13,/organization/1-800-dentist,1-800-DENTIST,http://www.1800dentist.com,|Health and Wellness|,Health and Wellness,-,operating,USA,CA,Los Angeles,Los Angeles,1,1/1/86,1986-01,1986-Q1,1986,8/19/10,8/19/10,NaN
14,/organization/1-800-doctors,1-800-DOCTORS,http://1800doctors.com,|Health and Wellness|,Health and Wellness,"1,750,000",operating,USA,NJ,Newark,Iselin,1,1/1/84,1984-01,1984-Q1,1984,3/2/11,3/2/11,NaN
15,/organization/1-618-technology,1.618 Technology,NaN,|Real Estate|,Real Estate,-,operating,USA,FL,Orlando,Orlando,1,12/7/13,2013-12,2013-Q4,2013,1/22/14,1/22/14,NaN
16,/organization/10-20-media,10-20 Media,http://www.10-20media.com,|E-Commerce|,E-Commerce,"2,050,000",operating,USA,MD,Baltimore,Woodbine,4,1/1/01,2001-01,2001-Q1,2001,6/18/09,12/28/11,NaN
17,/organization/1000-corks,1000 Corks,http://1000corks.com,|Search|,Search,"40,000",operating,USA,OR,"Portland, Oregon",Lake Oswego,1,1/1/08,2008-01,2008-Q1,2008,8/23/11,8/23/11,NaN
18,/organization/1000-markets,1000 Markets,http://www.1000markets.com,|Marketplaces|Art|E-Commerce|,Art,"500,000",acquired,NaN,NaN,NaN,NaN,1,1/1/09,2009-01,2009-Q1,2009,5/15/09,5/15/09,NaN
19,/organization/1000jobboersen-de,1000jobboersen.de,http://www.1000jobboersen.de,|Curated Web|,Curated Web,-,operating,DEU,NaN,Berlin,Berlin,1,NaN,NaN,NaN,NaN,9/16/11,9/16/11,NaN
20,/organization/1000memories,1000memories,http://1000memories.com,|Curated Web|,Curated Web,"2,535,000",acquired,USA,CA,SF Bay Area,San Francisco,2,7/1/10,2010-07,2010-Q3,2010,1/1/10,2/16/11,NaN
21,/organization/1000museums-com,1000museums.com,http://www.1000museums.com,|Curated Web|,Curated Web,"4,462,651",operating,USA,WA,Seattle,Bellevue,4,1/1/08,2008-01,2008-Q1,2008,10/14/09,1/15/14,NaN
22,/organization/1001-menus,1001 Menus,http://1001menus.com,|Local Businesses|Restaurants|,Local Businesses,"1,869,079",operating,FRA,NaN,Paris,Paris,2,11/20/10,2010-11,2010-Q4,2010,12/27/12,11/13/13,NaN
23,/organization/1006-tv,1006.tv,http://www.1006.tv/,|Media|Games|,Games,"10,000,000",operating,NaN,NaN,Beijing,Beijing,3,1/1/09,2009-01,2009-Q1,2009,1/1/11,7/31/14,NaN
24,/organization/100du-tv,100du.tv,http://www.100du.com,|Hospitality|,Hospitality,"3,000,000",operating,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,1/7/08,8/13/10,NaN
25,/organization/100e-com,100e.com,http://www.100e.com,|Education|,Education,"3,000,000",operating,CHN,NaN,Beijing,Beijing,1,NaN,NaN,NaN,NaN,1/1/06,1/1/06,NaN
26,/organization/100plus,100Plus,http://www.100plus.com,|Analytics|,Analytics,"1,250,000",acquired,USA,CA,SF Bay Area,San Francisco,2,9/16/11,2011-09,2011-Q3,2011,11/2/11,11/30/11,NaN
27,/organization/1010data,1010data,http://www.1010data.com,|Software|,Software,"35,000,000",operating,USA,NY,New York City,New York,1,1/1/00,2000-01,2000-Q1,2000,3/8/10,3/8/10,NaN
28,/organization/10bestthings,10BestThings,http://10bestthings.com,|Curated Web|,Curated Web,"50,000",closed,USA,OH,Cleveland,Cleveland,1,4/1/09,2009-04,2009-Q2,2009,4/1/09,4/1/09,NaN
29,/organization/10sec,10sec,https://10s.ec/,|Social Commerce|E-Commerce|Mobile Commerce|,E-Commerce,"1,600,000",NaN,NaN,NaN,NaN,NaN,1,7/8/13,2013-07,2013-Q3,2013,5/8/14,5/8/14,NaN
30,/organization/10seconds-software,10seconds Software,http://www.10secondsSoftware.com,|Mobility|Enterprise Software|Software|,Enterprise Software,"100,000",operating,AUS,NaN,Sydney,Sydney,1,7/1/09,2009-07,2009-Q3,2009,7/1/10,7/1/10,NaN
31,/organization/10six,10Six,http://10sixenergy.com,NaN,NaN,-,operating,USA,NY,New York City,New York,1,NaN,NaN,NaN,NaN,2/1/13,2/1/13,NaN
32,/organization/10tracks,10tracks,http://10tracks.com,NaN,NaN,"40,000",NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,3/1/13,3/1/13,NaN
33,/organization/10x-technologies,10X Technologies,http://10xtechnologies.com,|Biotechnology|,Biotechnology,"3,000,000",operating,USA,CA,SF Bay Area,Oakland,1,1/1/12,2012-01,2012-Q1,2012,11/7/12,11/7/12,NaN
34,/organization/10x10-room,10X10 Room,http://10x10room.com,|Software|,Software,"77,500",operating,USA,MA,Boston,Lexington,1,1/1/10,2010-01,2010-Q1,2010,10/12/11,10/12/11,NaN
35,/organization/115-network-disks,115 network disks,http://www.115.com/,|Education|,Education,-,operating,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,11/1/11,11/1/11,NaN
36,/organization/117go,117go,http://117go.com,NaN,NaN,"20,000,000",NaN,CHN,NaN,Shanghai,Shanghai,1,10/1/11,2011-10,2011-Q4,2011,4/28/14,4/28/14,NaN
37,/organization/11i-solutions,11i Solutions,http://www.11isolutions.com,|Enterprise Software|,Enterprise Software,"1,800,000",closed,USA,AL,Huntsville,Huntsville,1,NaN,NaN,NaN,NaN,3/22/11,3/22/11,NaN
38,/organization/12-star-survival,12 Star Survival,http://www.12starsurvival.com,|Sports|,Sports,-,operating,NaN,NaN,NaN,NaN,1,7/17/13,2013-07,2013-Q3,2013,10/17/13,10/17/13,NaN
39,/organization/121cast,121cast,http://www.121cast.com,|Audio|Music|Mobile|,Audio,"270,000",operating,AUS,NaN,Melbourne,Melbourne,2,2/1/12,2012-02,2012-Q1,2012,5/1/12,11/13/12,NaN
40,/organization/121nexus,121nexus,http://www.121nexus.com,|Politics|Technology|Medical Devices|Pharmaceu...,Medical Devices,"794,000",operating,USA,RI,Providence,Providence,6,10/7/11,2011-10,2011-Q4,2011,2/6/12,1/1/14,NaN
41,/organization/1234enter,1234ENTER,http://www.1234enter.com.br,|Small and Medium Businesses|Education|Analyti...,Advertising,"650,267",operating,ITA,NaN,Piemonte,Bra,2,1/1/12,2012-01,2012-Q1,2012,9/1/12,11/22/13,NaN
42,/organization/123contactform,123ContactForm,http://www.123contactform.com,|SaaS|E-Commerce|,E-Commerce,-,operating,ROU,NaN,Timisoara,Timisoara,1,1/1/08,2008-01,2008-Q1,2008,1/1/10,1/1/10,NaN
43,/organization/123people,123people,http://123people.com,|Software|Search|,Search,-,acquired,AUT,NaN,Vienna,Vienna,1,1/1/07,2007-01,2007-Q1,2007,1/1/08,1/1/08,NaN
44,/organization/1248,1248,http://1248.io/index.php?page=index,|Software|,Software,"378,812",operating,GBR,NaN,London,Cambridge,1,1/1/13,2013-01,2013-Q1,2013,3/18/14,3/18/14,NaN
45,/organization/12bis,12Bis,http://12bis.com,NaN,NaN,"130,636",operating,FRA,NaN,Paris,Paris,1,1/1/08,2008-01,2008-Q1,2008,3/15/12,3/15/12,NaN
46,/organization/12society,12Society,http://www.12Society.com,|E-Commerce|,E-Commerce,-,acquired,USA,CA,Los Angeles,West Hollywood,1,1/1/12,2012-01,2012-Q1,2012,4/5/12,4/5/12,NaN
47,/organization/1366-technologies,1366 Technologies,http://www.1366tech.com,|Manufacturing|,Manufacturing,"66,450,000",operating,USA,MA,Boston,Bedford,8,1/1/07,2007-01,2007-Q1,2007,3/27/08,12/12/13,NaN
48,/organization/139shop,139shop,http://www.139shop.com,|E-Commerce|,E-Commerce,-,operating,CHN,NaN,Asia,NaN,1,NaN,NaN,NaN,NaN,2/1/07,2/1/07,NaN
49,/organization/13th-lab,13th Lab,http://13thlab.com,|iPad|Games|Augmented Reality|Computer Vision|...,Augmented Reality,"700,000",NaN,SWE,NaN,Stockholm,Stockholm,1,1/1/10,2010-01,2010-Q1,2010,6/15/12,6/15/12,NaN

In [11]:
market_dummy = pd.get_dummies(cb[' market '])
cb_market = pd.concat([cb, market_dummy], axis=1)

# pd.concat([df.drop('key',axis=1),pd.get_dummies(df['key'])], axis = 1)
cols = cb_market.columns
print(cols)

Index([u'permalink', u'name', u'homepage_url', u'category_list', u' market ',
       u' funding_total_usd ', u'status', u'country_code', u'state_code',
       u'region',
       ...
       u' Web Hosting ', u' Web Tools ', u' Weddings ', u' Wholesale ',
       u' Wine And Spirits ', u' Wireless ', u' iOS ', u' iPad ', u' iPhone ',
       u' mHealth '],
      dtype='object', length=566)

In [12]:
cb_market['funding_total_usd'] = cb_market[' funding_total_usd '].apply(lambda x: str(x))
cb_market['funding_total_usd'] = cb_market['funding_total_usd'].apply(lambda x: x.strip(','))
cb_market['funding_total_usd'] = cb_market['funding_total_usd'].apply(lambda x: x.strip())
cb_market['funding_total_usd']

# cb_market['funding_total_usd'] = cb_market['funding_total_usd'].apply(lambda x: int(x))

# print(type(cb_market['funding_total_usd'][4]))

0            750,000
1          1,750,000
2          4,000,000
3             40,000
4          1,500,000
5            600,000
6          7,000,000
7          4,912,393
8          2,000,000
9                  -
10         1,700,000
11            40,000
12                 -
13                 -
14         1,750,000
15                 -
16         2,050,000
17            40,000
18           500,000
19                 -
20         2,535,000
21         4,462,651
22         1,869,079
23        10,000,000
24         3,000,000
25         3,000,000
26         1,250,000
27        35,000,000
28            50,000
29         1,600,000
            ...
44920        651,000
44921      3,500,000
44922        190,000
44923        100,000
44924        870,000
44925      3,845,100
44926     45,750,000
44927              -
44928      9,000,000
44929      3,384,225
44930        800,000
44931         75,000
44932     12,039,999
44933      2,257,464
44934     38,900,000
44935              -
44936              -
44937      3,805,520
44938    866,550,786
44939     25,000,000
44940     14,750,000
44941     34,275,015
44942     15,398,910
44943      1,510,500
44944      2,686,600
44945        120,000
44946      1,587,301
44947         71,525
44948      9,300,000
44949     45,000,000
Name: funding_total_usd, dtype: object