In [2]:
import pandas as pd
import numpy as np
import sklearn
import os

os.getcwd()

'/Users/HudsonCavanagh/GA_dsi-projects/weekly_work/week06'

In [3]:
rate = pd.read_csv('/Users/HudsonCavanagh/Documents/health_insurance_marketplace/kaggle_data/Rate.csv')
benefitscostsharing = pd.read_csv('/Users/HudsonCavanagh/Documents/health_insurance_marketplace/kaggle_data/BenefitsCostSharing.csv')
businessrules = pd.read_csv('/Users/HudsonCavanagh/Documents/health_insurance_marketplace/kaggle_data/BusinessRules.csv')
crosswalk15= pd.read_csv('/Users/HudsonCavanagh/Documents/health_insurance_marketplace/kaggle_data/Crosswalk2015.csv')
crosswalk16= pd.read_csv('/Users/HudsonCavanagh/Documents/health_insurance_marketplace/kaggle_data/Crosswalk2016.csv')
hashes = pd.read_csv('/Users/HudsonCavanagh/Documents/health_insurance_marketplace/kaggle_data/hashes.txt')
network = pd.read_csv('/Users/HudsonCavanagh/Documents/health_insurance_marketplace/kaggle_data/Network.csv')
plan_attributes = pd.read_csv('/Users/HudsonCavanagh/Documents/health_insurance_marketplace/kaggle_data/PlanAttributes.csv')
service_area = pd.read_csv('/Users/HudsonCavanagh/Documents/health_insurance_marketplace/kaggle_data/ServiceArea.csv')


pd.DataFrame(rate)

rate = pd.DataFrame(rate)
benefitscostsharing = pd.DataFrame(benefitscostsharing)
businessrules =  pd.DataFrame(businessrules)
crosswalk15= pd.DataFrame(crosswalk15)
crosswalk16= pd.DataFrame(crosswalk16)
hashes = pd.DataFrame(hashes)
network = pd.DataFrame(network)
plan_attributes = pd.DataFrame(plan_attributes)
service_area = pd.DataFrame(service_area)

/Users/HudsonCavanagh/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (3,6,9,10,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/HudsonCavanagh/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/HudsonCavanagh/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (0,7,8,9,10,11,12,13,14,15,18,19,20,22,23,24,25,26,27,28,29,31,32,33,34,39,40,41,42,66,67,68,70,71,72,75,76,77,79,80,81,82,84,85,86,88,89,90,92,93,94,96,97,98,136,137,138,140,141,142,145,146,147,150,151,152,154,155,156,158,159,160,162,163,164,166,167,168) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
rate.head()

,BusinessYear,StateCode,IssuerId,SourceName,VersionNum,ImportDate,IssuerId2,FederalTIN,RateEffectiveDate,RateExpirationDate,...,IndividualRate,IndividualTobaccoRate,Couple,PrimarySubscriberAndOneDependent,PrimarySubscriberAndTwoDependents,PrimarySubscriberAndThreeOrMoreDependents,CoupleAndOneDependent,CoupleAndTwoDependents,CoupleAndThreeOrMoreDependents,RowNumber
0,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,29.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
1,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56,14
2,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56,15
3,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
4,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16

In [4]:
benefitscostsharing.head()

,BenefitName,BusinessYear,CoinsInnTier1,CoinsInnTier2,CoinsOutofNet,CopayInnTier1,CopayInnTier2,CopayOutofNet,EHBVarReason,Exclusions,...,LimitUnit,MinimumStay,PlanId,QuantLimitOnSvc,RowNumber,SourceName,StandardComponentId,StateCode,StateCode2,VersionNum
0,Routine Dental Services (Adult),2014,20%,NaN,20%,No Charge,NaN,No Charge,Above EHB,NaN,...,Dollars per Year,NaN,21989AK0010001-00,Yes,68,HIOS,21989AK0010001,AK,AK,6
1,Dental Check-Up for Children,2014,20%,NaN,20%,No Charge,NaN,No Charge,Substantially Equal,NaN,...,Visit(s) per 6 Months,NaN,21989AK0010001-00,Yes,104,HIOS,21989AK0010001,AK,AK,6
2,Basic Dental Care - Child,2014,40%,NaN,40%,No Charge,NaN,No Charge,Substantially Equal,NaN,...,NaN,NaN,21989AK0010001-00,NaN,110,HIOS,21989AK0010001,AK,AK,6
3,Orthodontia - Child,2014,50%,NaN,50%,No Charge,NaN,No Charge,Additional EHB Benefit,NaN,...,NaN,NaN,21989AK0010001-00,NaN,111,HIOS,21989AK0010001,AK,AK,6
4,Major Dental Care - Child,2014,50%,NaN,50%,No Charge,NaN,No Charge,Substantially Equal,NaN,...,NaN,NaN,21989AK0010001-00,NaN,112,HIOS,21989AK0010001,AK,AK,6

In [5]:
businessrules.head()
# businessrules['MarketCoverage'].value_counts()

,BusinessYear,StateCode,IssuerId,SourceName,VersionNum,ImportDate,IssuerId2,TIN,ProductId,StandardComponentId,...,DependentMaximumAgRule,ChildrenOnlyContractMaxChildrenRule,DomesticPartnerAsSpouseIndicator,SameSexPartnerAsSpouseIndicator,AgeDeterminationRule,MinimumTobaccoFreeMonthsRule,CohabitationRule,RowNumber,MarketCoverage,DentalOnlyPlan
0,2014,AL,82285,HIOS,7,2014-01-21 08:29:49,82285,94-2761537,NaN,82285AL0010006,...,26,3 or more,Yes,Yes,Age on effective date,Not Applicable,"Spouse,No;Adopted Child,No;Foster Child,No;War...",14,NaN,NaN
1,2014,AL,82285,HIOS,7,2014-01-21 08:29:49,82285,94-2761537,NaN,82285AL0020001,...,Not Applicable,3 or more,Yes,Yes,Age on effective date,Not Applicable,"Adopted Child,Yes;Foster Child,Yes;Stepson or ...",15,NaN,NaN
2,2014,AL,82285,HIOS,7,2014-01-21 08:29:49,82285,94-2761537,NaN,82285AL0020002,...,Not Applicable,3 or more,Yes,Yes,Age on effective date,Not Applicable,"Adopted Child,Yes;Foster Child,Yes;Stepson or ...",16,NaN,NaN
3,2014,AL,82285,HIOS,7,2014-01-21 08:29:49,82285,94-2761537,NaN,82285AL0020004,...,26,3 or more,Yes,Yes,Age on effective date,Not Applicable,"Spouse,No;Adopted Child,No;Foster Child,No;War...",17,NaN,NaN
4,2014,AL,82285,HIOS,7,2014-01-21 08:29:49,82285,94-2761537,NaN,82285AL0020006,...,26,3 or more,Yes,Yes,Age on effective date,Not Applicable,"Spouse,No;Adopted Child,No;Foster Child,No;War...",18,NaN,NaN

In [6]:
print(crosswalk15.head())

  State DentalPlan     PlanID_2014  IssuerID_2014 MultistatePlan_2014  \
0    AK          Y  21989AK0010001          21989                   N
1    AK          Y  21989AK0010001          21989                   N
2    AK          Y  21989AK0010001          21989                   N
3    AK          Y  21989AK0010001          21989                   N
4    AK          Y  21989AK0010001          21989                   N

  MetalLevel_2014  ChildAdultOnly_2014  FIPSCode  ZipCode  CrosswalkLevel  \
0             Low                    0      2013        0               1
1             Low                    0      2016        0               1
2             Low                    0      2020        0               1
3             Low                    0      2050        0               1
4             Low                    0      2060        0               1

             ...                PlanID_2015 IssuerID_2015  \
0            ...             21989AK0030001         21989
1            ...             21989AK0030001         21989
2            ...             21989AK0030001         21989
3            ...             21989AK0030001         21989
4            ...             21989AK0030001         21989

   MultistatePlan_2015 MetalLevel_2015 ChildAdultOnly_2015 AgeOffPlanID_2015  \
0                    N            High                   0    00000XX0000000
1                    N            High                   0    00000XX0000000
2                    N            High                   0    00000XX0000000
3                    N            High                   0    00000XX0000000
4                    N            High                   0    00000XX0000000

  IssuerID_AgeOff2015  MultistatePlan_AgeOff2015 MetalLevel_AgeOff2015  \
0                   0                          X                     X
1                   0                          X                     X
2                   0                          X                     X
3                   0                          X                     X
4                   0                          X                     X

  ChildAdultOnly_AgeOff2015
0                         X
1                         X
2                         X
3                         X
4                         X

[5 rows x 21 columns]

In [7]:
crosswalk16.head()

,State,DentalPlan,PlanID_2015,IssuerID_2015,MultistatePlan_2015,MetalLevel_2015,ChildAdultOnly_2015,FIPSCode,ZipCode,CrosswalkLevel,...,PlanID_2016,IssuerID_2016,MultistatePlan_2016,MetalLevel_2016,ChildAdultOnly_2016,AgeOffPlanID_2016,IssuerID_AgeOff2016,MultistatePlan_AgeOff2016,MetalLevel_AgeOff2016,ChildAdultOnly_AgeOff2016
0,OR,N,10091OR0360004,10091,N,Bronze,0,41021,0,0,...,10091OR0360004,10091,N,Bronze,0,00000XX0000000,0,X,X,X
1,OR,N,10091OR0360004,10091,N,Bronze,0,41037,0,0,...,10091OR0360004,10091,N,Bronze,0,00000XX0000000,0,X,X,X
2,OR,N,10091OR0360004,10091,N,Bronze,0,41009,0,0,...,10091OR0360004,10091,N,Bronze,0,00000XX0000000,0,X,X,X
3,OR,N,10091OR0360004,10091,N,Bronze,0,41023,0,0,...,10091OR0360004,10091,N,Bronze,0,00000XX0000000,0,X,X,X
4,OR,N,10091OR0360004,10091,N,Bronze,0,41059,0,0,...,10091OR0360004,10091,N,Bronze,0,00000XX0000000,0,X,X,X

In [1]:
hashes.head()

NameError: name 'hashes' is not defined

In [ ]:
# network.head()

piv = pd.pivot_table(network, index='NetworkName')
# pd.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All')
biz_details = pd.merge(piv, rate, how='left', on='IssuerId')
# biz_details = pd.merge(biz_details, rate, how='left', on='IssuerId')
# biz_details.head()
by_state = pd.pivot_table(biz_details, index='StateCode', aggfunc='avg')

In [ ]:
plan_attributes.head()

In [ ]:
service_area.head()

In [ ]:
# BenefitsCostSharing.csv
# BusinessRules.csv
# Crosswalk2015.csv
# Crosswalk2016.csv
# database.sqlite
# hashes.txt
# Network.csv
# PlanAttributes.csv
# Rate.csv
# raw
# ServiceArea.csv

In [46]:
import pandas as pd

er = pd.read_csv("/Users/HudsonCavanagh/Documents/health_insurance_marketplace/NHQR/cleaned_sub_er.csv")
er = er.rename(columns={'Unnamed: 0': "er_admits_substances"})

er.set_index("er_admits_substances", inplace=1)
# er.head(25)

age_list = ['0-17', '18-44', '45-64', '65-84', 'Total']
genders = ['Male', 'Female']
incomes =['First quartile (lowest income)', 'Second quartile', 'Third quartile', 'Fourth quartile [highest income]']
location_types = ['Large central metropolitan', 'Large fringe metropolitan', 'Medium metropolitan', 'Small metropolitan', 'Micropolitan', 'Noncore']
regions = ['Northeast', 'Midwest', 'South', 'West']



age_er = er.loc[['0-17', '18-44', '45-64', '65-84', 'Total'],:]
age_er

2011    540.0
2010    510.2
2009    487.5
2008    457.7
2007    437.7
Name: Total, dtype: object

In [56]:
import seaborn as sns

sns.regplot(age_er.index, age_er.values)

AttributeError: 'Index' object has no attribute 'mean'